.btn-home{
  width: 50%;
}
.btn-people{
  width: 50%;
}
.main-container{
  height: calc(100% - 0px);
  margin: 11px;
}
.main-container-form{
  height: 95%;
  position: relative;
}
.container-form{
  height: 50vh;
  width: 300px;
  margin: auto; 
  border-radius: 5px;
  box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 50%);
}