.btn-home{
  width: 50%;
}
.btn-people{
  width: 50%;
}
.main-container{
  height: calc(100% - 0px);
  margin: 11px;
}
.main-container-form{
  height: 95%;
  position: relative;
}
.container-form{
  height: 50vh;
  width: 300px;
  position: absolute;
}
