

<ion-content>
  <div class="row m-0 main-container">
    <div class="col-12">
      <div class="row container-secundary">
        <div class="col-6 container-button">
          <ion-buttons>
            <ion-button (click)="goToForm()">{{titles.name }}
              <ion-icon name="wallet"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
        <div class="col-6 container-button">
          <ion-buttons>
            <ion-button>{{titles.people }}
              <ion-icon name="people"></ion-icon>
            </ion-button>
          </ion-buttons>
        </div>
      </div>
    </div>
  </div>
</ion-content>
